<main class="main--login">
    <section class="login">
        <h2 class="login__title">login</h2>

        <form class="login-form" action="" >
            <div class="login-form__box">
                <label for="email" class="login-form__label">Email:</label>
                <input class="login-form__input" type="email" name="email" id="email">
            </div>
            <div class="login-form__box">
                <label for="password" class="login-form__label">Contraseña</label>
                <input class="login-form__input" type="password" name="password" id="password">
            </div>
            <button class="btn" type="submit">Iniciar Session</button>
        </form>
        
        <footer class="login__footer">
            <a href="#">Crear cuenta</a>
            <a href="#">Olvidé mi contraseña</a>
        </footer>
    </section>
</main>