<main class="main--auth">
    <section class="auth">
        <h2 class="auth__title">Iniciar Sesion</h2>

        <form class="auth-form" action="/auth/login" method="POST" >
            <div class="auth-form__box">
                <label for="email" class="label">Email</label>
                <input class="input" type="email" name="email" id="email">
            </div>
            <div class="auth-form__box">
                <label for="password" class="label">Contraseña</label>
                <input class="input" type="password" name="password" id="password">
            </div>
            <button class="btn-square" type="submit">Ingresar</button>
        </form>
        <footer class="auth__footer">
            <a class="auth__link" href="/auth/register">Registrarse</a>
            <a class="auth__link" href="/auth/recover">Olvidé mi contraseña</a>
        </footer>
    </section>
</main>
<script src="/scripts/authLogin.js"></script>