<main class="main--auth">
    <h2 class="auth__title">Olvidé mi contraseña</h2>

    <section class="auth">
        <form class="auth-form auth-form--register" action="/admin">
            <div class="auth-form__box">
                <label for="email" class="label">Email</label>
                <input class="input" type="email" name="email" id="email" required>
            </div>

            <button class="btn-square auth-form__btn" type="submit">Recuperar</button>
        </form>
    </section>
</main>