<main>
    PANEL DE USUARIO
    <a id="logout_btn" class="btn" href="/">
        <iconify-icon icon="akar-icons:circle-chevron-left"></iconify-icon>
        <span>Cerrar sesión</span>
    </a>
</main>