.form-admin{
    display: flex;
    flex-direction: column;
    gap: var(--spacing-20);
}

.form-admin__row{
    width: 100%;
    display: grid;
    gap: var(--spacing-20);
}

        .form-admin__row:first-child{
            grid-template-columns: 1fr;
        }

        .form-admin__row:nth-child(3){
            grid-template-columns:  repeat(2, 2fr) repeat(4, 1fr);
        }

        .form-admin__row:nth-child(4){
            display: flex;
            justify-content: left;
            gap: var(--spacing-48); 
        }

        .form-admin__row:last-child{
            margin-top: var(--spacing-48);
            display: flex;
            justify-content: left;
        }

.form-admin__box{
    display: flex;
    flex-direction: column;
    gap: var(--spacing-4);
}

.form-admin__box-img{
    max-width: 200px;
}

.form-admin__figure{
    cursor: pointer;
}