.btn{
    cursor: pointer;
    display: inline-block;
    padding: var(--spacing-12) var(--spacing-48);
    background-image: var(--gradient-dark-solid);
    color: var(--font-light-solid);
    font-size: var(--font-m-medium);
    font-weight: 500;
    text-align: center;
    text-transform: uppercase;
    border: none;
    outline: none;
    border-radius: 50px;
    transition: var(--transition-bs-t);
}

    /* btn hover */
    .btn:hover{
        box-shadow: var(--shadow-btn);
        transform: translateY(-3px);
    }

.btn__link{
    cursor: pointer;
    display: inline-block;
    padding: var(--spacing-12) var(--spacing-48);
    background-image: var(--gradient-dark-solid);
    color: var(--font-light-solid);
    font-size: var(--font-m-medium);
    font-weight: 500;
    text-align: center;
    text-transform: uppercase;
    border-radius: 50px;
    transition: var(--transition-bs-t);
}

    /* btn__link hover */
    .btn__link:hover{
        box-shadow: var(--shadow-btn);
        transform: translateY(-3px);
    }

/* btn__link modificadores */
.btn__link--hero{
    background-image: none;
    background-color: var(--bg-light-solid);
    color: var(--bg-dark-solid);
    transition: color 0.1s ease-in-out, transform 0.2s ease-in-out;
}
    /* btn__link hover */
    .btn__link--hero:hover{
        color: var(--primary-solid);
        box-shadow: var(--shadow-btn);
        transform: translateY(-3px);
    }


/* Inputs */

.input--search{
    width: 100%;
    height: calc(2.25rem + 2px);
    padding: 14px 18px;
    background-color: var(--bg-light-solid);
    border: 1px solid var(--border-input);
    border-radius: var(--br-secondary);
    color: var(--font-dark-900);
    transition: var(--transition-border-outline);
}

    .input--search:focus{
        outline: none;
        border: 1px solid var(--primary-solid);
    }

.input--select{
    width: 100%;
    height: calc(2.25rem + 2px);

    background-color: var(--bg-light-solid);
    border: 1px solid var(--border-input);
    border-radius: var(--br-secondary);
    color: var(--font-dark-900);
    transition: var(--transition-border-outline);
}

    .input--select:focus{
        outline: none;
        border: 1px solid var(--primary-solid);
    }

/* Hidde arrows of input number */
.--hide-arrows::-webkit-outer-spin-button,
.--hide-arrows::-webkit-inner-spin-button {
    margin: 0;
    -webkit-appearance: none;
}