/* ***************************************************

                    DASHBOARD

 *************************************************** */
 .card{
    width: 100%;
    margin-bottom: var(--spacing-24);
    background-color: var(--bg-light-solid);
    color: var(--font-dark-800);
    font-size: var(--font-small);
    border-radius: var(--br-primary);
    box-shadow: var(--shadow-primary);
}

    .card-product-admin--add{
        max-width: 1200px;
    }

/* Card estructura */

.card-header{
    padding: var(--spacing-24);
    padding-bottom: 0;

}
.card-body{
    padding: var(--spacing-24);
}

.card-footer{
    padding: var(--spacing-24);
    padding-top: 0;
}

.card__row{
    width: 100%;
    display: grid;
    gap: var(--spacing-24);
}

.card__row-col{

}

.card__group{
    display: flex;
    flex-direction: column;
    gap: var(--spacing-4);
    margin-bottom: var(--spacing-16);
}

.card__title{
    color: var(--font-dark-700);
    font-weight: 700;
}







    .card__row:last-child .card__box:last-child {
        margin-bottom: 0;
    }

    .card__box h5{
        color: var(--font-dark-700);
        font-weight: 600;
    }
    .card__box p{
        color: var(--font-dark-600);
    }

.card__box-img{
    width: 100%;
    align-items: center;
}

.card__figure{
    max-width: 350px;
    cursor: pointer;
    border-radius: var(--br-primary);
    border: 1px solid var(--border-dark-200);
}