/* ***************************************************

                    DASHBOARD

 *************************************************** */
 .card{
    width: 100%;
    margin-bottom: var(--spacing-24);
    background-color: var(--bg-light-solid);
    color: var(--font-dark-800);
    font-size: var(--font-small);
    border-radius: var(--br-primary);
    box-shadow: var(--shadow-primary);
}

/* Card estructura */

.card__header{
    padding: var(--spacing-24);
    padding-bottom: 0;

}
.card__body{
    padding: var(--spacing-24);
    display: flex;
    flex-direction: column;
    gap: var(--spacing-20);
}

.card__footer{
    padding: var(--spacing-24);
    padding-top: 0;
}

.card__row{
    width: 100%;
    display: flex;
    gap: var(--spacing-24);
}

.card__inputs-group{
    width: 100%;
}

.card__group{
    display: flex;
    flex-direction: column;
    gap: var(--spacing-4);
    margin-bottom: var(--spacing-16);
}

.card__title{
    color: var(--font-dark-700);
    font-weight: 700;
}

.card__figure{
    max-width: 350px;
    cursor: pointer;
    border-radius: var(--br-primary);
    border: 1px solid var(--border-dark-200);
}