<main>
    <section class="container">
        <section class="filters--container">

        </section>
        <section class="products--container">
            <section class="products__list">

            </section>
            <section class="paginator">
                
            </section>
        </section>
    </section>
</main>