.container-admin{
    width: 100%;
    margin: var(--spacing-36);
    display: flex;
    justify-items: stretch;
    gap: var(--spacing-28);
}

.content{
    display: flex;
    flex-direction: column;
    flex-grow: 2;
    gap: var(--spacing-28);
}

.card-admin{
    width: 100%;
    padding: var(--spacing-28);
    background-color: var(--bg-light-solid);
    border-radius: var(--br-primary);
    box-shadow: var(--shadow-primary);
    color: var(--font-dark-800);
    font-size: var(--font-small);
}