.main--login{
    display: flex;
    align-items: center;
    justify-content: center;
}

.login{
    padding: var(--spacing-24);
    background-color: var(--bg-light-solid);
    border-radius: var(--br-primary);
    box-shadow: var(--shadow-card);
}

.login__title{
    font-size: var(--font-x-large);
    color: var(--font-dark-200);
}

.login-form{
    margin: var(--spacing-36) 0;
}

.login__footer{
    display: flex;
    justify-content: space-between;
    color: var(--font-500);
}