.main--shop{
    padding: var(--spacing-28) 0;
}

.search-order-container{
    padding: var(--spacing-12) var(--spacing-16);
    margin-bottom: var(--spacing-28);
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: var(--bg-light-solid);
    border-radius: var(--br-primary);
}

.search-bar{
    width: 400px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: var(--spacing-12);
}

.search-bar__icon{
    font-size: 2.5rem;
    color: var(--font-dark-700);
}

.order{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: var(--spacing-12);
    font-size: var(--font-small);
}

.order__label{
    font-weight: 400;
    text-wrap: nowrap;
}

/* Listado de productos */
.products__ul{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: var(--spacing-12);
    justify-content: center;
}