<main class="main--home">
    <section class="container">
        <div class="notfound__container">
            <picture  class="notfound__picture" >
                <img src="/img/not_found.png" alt="Imagen pagina no encontrada">
            </picture>
            <span class="notfound__msg">¡UPS! Página no encontrada :( </span>
        </div>
    </section>
</main>