.table-admin{
    width: 100%;
    color: var(--font-dark-800);
    font-size: var(--font-small);
    border-collapse: collapse;
}

/* Cabecera de tabla */
.table-admin__head{
    color: var(--font-dark-solid);
    font-weight: 500;
    text-transform: uppercase;
    text-align: left;
}

/* Fila de tabla */
.table-admin__tr{
    transition: var(--transition-bg);
}

    tbody .table-admin__tr:hover{
        background-color: var(--primary-200);
        color: var(--font-dark-solid);
    }

/* Columna de tabla */
.table-admin__td{
    padding: var(--spacing-4) 0;
    vertical-align: middle !important;
}

.table-admin__td--btn{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.table-admin__td--center{
    text-align: center;
    font-weight: 600;
}

.table-admin__img img{
    max-width: 75px;
}

.table-admin__td:nth-child(6){
    text-align: center;
}

.table-admin__body .table-admin__td{
    border-top: 1px solid var(--border-dark-100);
}

.table-admin__icon{
    color: var(--font-dark-600);
    font-size: var(--font-large);
    cursor: pointer;
    transition: var(--transition-color);
}

    .table-admin__icon--delet:hover{
        color: var(--color-danger);
    }

    .table-admin__icon--edit:hover{
        color: var(--color-info);
    }

    .table-admin__icon--move:hover{
        color: var(--secondary-solid);
    }

/* Simple-Datatables CUSTOM */
.pagination--table button{
    background-color: var(--primary-600) !important;
    color: var(--font-dark-600) !important;
}

.ch__ul{

}

.ch__li{
    display: grid;
    grid-template-columns: 1fr 1fr 4fr 2fr;
    gap: var(--spacing-16);
}

.ch__box{
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
}

.ch__box:last-child{
    gap: var(--spacing-20);
    justify-content: end;
    margin-right: var(--spacing-20);
}

.ch__box--name{

}

.ch__box--active{
    gap: var(--spacing-8);
}

.ch__box--icon{
    font-size: var(--font-large);
    
}