<aside class="side-menu">
    <h2 class="side-menu__title">Administración</h2>
    <ul class="side-menu__ul">
        <li class="side-menu__li">
            <a class="side-menu__link" href="">
                <iconify-icon icon="akar-icons:dashboard"></iconify-icon>
                <span>Inicio</span>
            </a>
        </li>

        <li class="side-menu__li">
            <a class="side-menu__link" href="/admin/products">
                <iconify-icon icon="akar-icons:shipping-box-01"></iconify-icon>
                <span>Productos</span>
            </a>
        </li>
        <li class="side-menu__li">
            <a class="side-menu__link" href="/admin/collections">
                <iconify-icon icon="akar-icons:truck"></iconify-icon>
                <span>Colecciones</span>
            </a>
        </li>
        <li class="side-menu__li">
            <a class="side-menu__link" href="/admin/users">
                <iconify-icon icon="akar-icons:people-group"></iconify-icon>
                <span>Clientes</span>
            </a>
        </li>
        <li class="side-menu__li">
            <a class="side-menu__link" href="/">
                <iconify-icon icon="akar-icons:circle-chevron-left"></iconify-icon>                        
                <span>Cerrar sesión</span>
            </a>
        </li>
    </ul>
</aside>