<footer class="footer">
    <div class="container">
        <nav class="navbar--footer">
            <ul class="navbar__ul navbar__ul--footer">
                <li class="navbar__li">
                    <a href="/shop" class="navbar__link">funkos</a>
                </li>
                <li class="navbar__li">
                    <a href="#" class="navbar__link">nosotros</a>
                </li>
                <li class="navbar__li">
                    <a href="#" class="navbar__link">contacto</a>
                </li>
                <li class="navbar__li">
                    <a href="#" class="navbar__link">preguntas y respuetas</a>
                </li>
            </ul>
            <div class="navbar-logo-social">
                <a href="/" class="navbar-logo navbar-logo--footer">
                    <picture class="navbar-logo__picture">
                        <img src="/img/branding/isotype.svg" alt="Funkoshop Logo">
                    </picture>
                    <span class="navbar-logo__name">FUNKOSHOP</span>
                </a>
                <article class="social-networks">
                    <iconify-icon icon="akar-icons:facebook-fill"></iconify-icon>
                    <iconify-icon icon="akar-icons:instagram-fill"></iconify-icon>
                    <iconify-icon icon="akar-icons:twitter-fill"></iconify-icon>
                    <iconify-icon icon="akar-icons:tiktok-fill"></iconify-icon>
                    <iconify-icon icon="akar-icons:youtube-fill"></iconify-icon>
                </article>

            </div>
        </nav>
        <span class="footer__rights"> All rights reserved. Copyright © 2023 Material Kit by Creative Tim. </span>
    </div>
</footer>