<header class="header">
    <div class="container">
        <nav class="navbar">
            <a href="/" class="navbar-logo">
                <picture class="navbar-logo__picture">
                    <img src="/img/branding/isotype.svg" alt="Funkoshop Logo">
                </picture>
                <span class="navbar-logo__name">FUNKOSHOP</span>
            </a>

            <div>
                <ul class="navbar__ul">
                    <ul class="navbar__ul">
                        <li class="navbar__li">
                            <a href="/" class="navbar__link">home</a>
                        </li>
                        <li class="navbar__li">
                            <a href="/shop" class="navbar__link">funkos</a>
                        </li>
                        <li class="navbar__li">
                            <a href="#" class="navbar__link">nosotros</a>
                        </li>
                    </ul>
                    <li class="navbar__li">
                        <a href="/cart" id="cartNavbar" class="navbar__link--icon"><iconify-icon icon="akar-icons:cart"></iconify-icon></a>
                    </li>
                    <li class="navbar__li">
                        <a href="/auth/login" class="navbar__link--icon"><iconify-icon icon="akar-icons:person"></iconify-icon></a>
                    </li>
                </ul>
            </div>
        </nav>
    </div>
</header>