<main>
    <div class=" container-admin">

        <%- include('../../components/admin/sidebar.ejs')%>

            <section class="content">
                <article class="card-admin">
                    MENU DE BUSQUEDA
                </article>
                <article class="card-admin">
                    <table id="adminTable">
                        <thead>
  <tr>
                                <th>Book Name</th>
                                <th>Author Name</th>
                               <th>Genre</th>
                         </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>The Book Thief</td>
                                <td>Markus Zusak</td>
                                <td>Historical Fiction</td>
                            </tr>
                            <tr>
                                <td>The Cruel Prince</td>
                                <td>Holly Black</td>
                                <td>Fantasy</td>
                            </tr>
                            <tr>
                                <td>The Silent Patient</td>
                                <td> Alex Michaelides</td>
                                <td>Psychological Fiction</td>
                            </tr>
                            <tr>
                                <td>The Book Thief</td>
                                <td>Markus Zusak</td>
                                <td>Historical Fiction</td>
                            </tr>
                            <tr>
                                <td>The Cruel Prince</td>
                                <td>Holly Black</td>
                                <td>Fantasy</td>
                            </tr>
                        </tbody>

                    </table>
                </article>
            </section>
    </div>
</main>