.header{
    position: sticky;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: center;
    background-color:  hsla(0,0%,100%,.7);
    backdrop-filter: saturate(180%) blur(20px);
    border-bottom: 1px solid #e2e2e2;
    z-index: 100;
}

/* .header{
    background-color: var(--bg--header);
    backdrop-filter: saturate(180%) blur(20px);
    position: fixed;
    z-index: 10;
    width: 100vw;
    padding: 0 28px;
    line-height: 50px;
    border-bottom: 1px solid var(--border);
} */

.navbar{
    width: 100%;
    padding: 1.5rem 1rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: var(--font--color--primary--light);
}

/* Logo */
.navbar-logo{
    display: flex;
    align-items: center;
    gap: var(--spacing-16);
}

.navbar-logo__picture{
    width: 40px;
    display: flex;
    align-items: center;
}

.navbar-logo__name{
    font-size: var(--font-logo);
    font-weight: 500;
    letter-spacing: 2px;
}

/* Navbar */
.navbar__ul{
    display: flex;
    align-items: center;
    gap: var(--spacing-8);
    font-size: var(--font-small);
}
.navbar__link{
        padding: 0.1rem 2rem;
        border-radius: 20px;
        transition: all var(--transition-02);
    }

    .navbar__link:hover{
        color: var(--font-light-solid);
        background-color: var(--primary-solid);
        box-shadow: var(--shadow-navbar);
    }
    

.navbar__link--icon iconify-icon{
    vertical-align: text-top;
    font-size: var(--font-m-medium);
    background-color: var(--primary-500);
    padding: 7px;
    border-radius: 50px;
    transition: all var(--transition-01);
}

    .navbar__link--icon:hover iconify-icon{
        color: var(--font-light-solid);
        background-color: var(--primary-solid);
        box-shadow: var(--shadow-navbar);
    }

/* Footer styles */
.footer{
    display: flex;
    justify-content: center;
    background-color: var(--bg-dark-solid);
    color: var(--font-light-solid);
}

.footer__rights{
    display: inline-block;
    width: 100%;
    margin-bottom: var(--spacing-16);
    font-size: var(--font-x-small);
    text-align: center;
    letter-spacing: 2px;
}

.navbar--footer{
    width: 100%;
    padding: 5rem 1rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: var(--font--color--primary--light);
}

.navbar__ul--footer{
    flex-direction: column;
    align-items: baseline;
}

/* Logo and social networks */
.navbar-logo-social{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: var(--spacing-16);
}

.navbar-logo--footer{
    flex-direction: column;
    gap: var(--spacing-8);
}

    .navbar-logo--footer .navbar-logo__picture{
        width: 50%;
    }

.social-networks{
    display: flex;
    justify-content: space-between;
    gap: var(--spacing-16);
    font-size: var(--font-social-networks);
}

    .social-networks iconify-icon{
        cursor: pointer;
}