.header{
    position: sticky;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: center;
    background-color: var(--bg-light-soft);
    z-index: 100;
}

.navbar{
    width: 100%;
    padding: 1.5rem 1rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: var(--font--color--primary--light);
}

/* Logo */
.navbar-logo{
    display: flex;
    align-items: center;
    gap: var(--spacing-16);
}

.navbar-logo__picture{
    width: 40px;
    display: flex;
    align-items: center;
}

.navbar-logo__name{
    font-size: var(--font-logo);
    font-weight: 500;
    letter-spacing: 2px;
}

/* Navbar */
.navbar__ul{
    display: flex;
    align-items: center;
    gap: var(--spacing-8);
    font-size: var(--font-small);
}
.navbar__link{
        padding: 0.1rem 2rem;
        border-radius: 4px;
    }

    .navbar__link:hover{
        background-image: var(--bg-grandient-blue);
        background-size: 210% 210%;
        background-position: top right;
    }
    

.navbar__link--icon iconify-icon{
    vertical-align: text-top;
    font-size: var(--font-m-medium);
    background-color: var(--primary-500);
    padding: 7px;
    border-radius: 50px;
}

    .navbar__link--icon:hover iconify-icon{
        background-color: var(--primary-solid);
    }

/* Footer styles */
.footer{
    display: flex;
    justify-content: center;
    background-color: var(--bg-dark-solid);
    color: var(--font-light-solid);
}

.footer__rights{
    display: inline-block;
    width: 100%;
    margin-bottom: var(--spacing-16);
    font-size: var(--font-x-small);
    text-align: center;
    letter-spacing: 2px;
}

.navbar--footer{
    width: 100%;
    padding: 5rem 1rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: var(--font--color--primary--light);
}

.navbar__ul--footer{
    flex-direction: column;
    align-items: baseline;
}

/* Logo and social networks */
.navbar-logo-social{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: var(--spacing-16);
}

.navbar-logo--footer{
    flex-direction: column;
    gap: var(--spacing-8);
}

    .navbar-logo--footer .navbar-logo__picture{
        width: 50%;
    }

.social-networks{
    display: flex;
    justify-content: space-between;
    gap: var(--spacing-16);
    font-size: var(--font-social-networks);
}

    .social-networks iconify-icon{
        cursor: pointer;
}