<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/importsAdmin.css">
    <link rel="stylesheet" href="/css/imports.css">
    <link href="https://cdn.jsdelivr.net/npm/simple-datatables@latest/dist/style.css" rel="stylesheet" type="text/css">
    <title>Administracion - FS</title>
</head>
<body>
    <%- include('../partials/headerAdmin.ejs') %>
    <main>
        <div class=" container-admin">
            <%- include('../components/admin/sidebar.ejs')%>
    
            <section class="content">
                <%- body %>
            </section>
        </div>
    </main>
    <%# include('../partials/footerAdmin.ejs') %>
    <script src="https://cdn.jsdelivr.net/npm/simple-datatables@latest" type="text/javascript"></script>
    <script src="/scripts/configs/simpleDatatableConfig.js"></script>
    <script src="https://code.iconify.design/iconify-icon/1.0.7/iconify-icon.min.js"></script>
    <script src="/scripts/logout.js"></script>
    <% try{ isCollectionHome %>
        <script src="/scripts/collectionsHome.js"></script>
    <% } catch {} %>
</body>
</html>