<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <% if (page.glide) {%>
        <!-- CSS Libreria glide -->
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@glidejs/glide/dist/css/glide.core.min.css">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@glidejs/glide/dist/css/glide.theme.min.css">
    <%}%>
    <link rel="stylesheet" href="/css/imports.css">
    <link rel="shortcut icon" href="/img/favicon.ico" type="image/x-icon">
    <title><%= page.title %></title>
</head>
<body>
    <%- include('../partials/header.ejs') %>
    <%- body %>
    <%- include('../partials/footer.ejs') %>
    <script src="https://code.iconify.design/iconify-icon/1.0.7/iconify-icon.min.js"></script>
    <script src="/scripts/cart.js"></script>
    <% if (page.lot) {%>
        <script src="/scripts/lot.js"></script> <!-- Configuracion de libreria Glide -->
    <%}%>
    <% if (page.glide) {%>
        <!-- Glide (Carrousel) -->
        <script src="https://cdn.jsdelivr.net/npm/@glidejs/glide"></script> <!-- Importacion libreria -->
        <script src="/scripts/glideConfig.js"></script> <!-- Configuracion de libreria Glide -->
    <%}%>
</body>
</html>