body{
    color: var(--font-dark-solid);
    font-family: var(--font-base);
    background-color: var(--bg-light-body);
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.main{
    padding: var(--spacing-24) 0;
    display: flex;
    justify-content: center;
    flex-grow: 1;
}

.container{
    padding: 0 var(--spacing-24);
    width: 100%;
    max-width: 1440px;
}

.--hide{
    display: none !important;
}