:root {
    /* Palette */
    --primary-solid: rgba(255, 141, 114, 1);
    --primary-800: rgba(255, 141, 114, 0.8);
    --primary-600: rgba(255, 141, 114, 0.6);
    --primary-400: rgba(255, 141, 114, 0.4);
    --primary-200: rgba(255, 141, 114, 0.2);
    
    --secondary-solid: rgba(186, 84, 245, 1);
    --secondary-800: rgba(186, 84, 245, 0.8);
    --secondary-600: rgba(186, 84, 245, 0.6);
    --secondary-400: rgba(186, 84, 245, 0.4);
    --secondary-200: rgba(186, 84, 245, 0.2);

    /* Palette - Misc */
    --delet-solid: rgb(255, 53, 53);

    --color-info: #1d8cf8!important;
    --color-success: #00f2c3!important;
    --color-waring: #ff8d72!important;
    --color-danger: #fd5d93!important;
    --color-discard-solid: #c9c9c9!important;
    --color-discard: #d4d4d4!important;

    /* Grandients */
    --gradient-primary: linear-gradient(0deg,#ff6491,#ff8d72);
    --gradient-secondary: linear-gradient(0deg,#ba54f5,#e14eca);

    --gradient-gray: linear-gradient(36deg, rgba(158, 158, 158, 0.7) 0%, rgba(158, 158, 158, 1) 100%);

    /* Shadows */
    --shadow-btn: 0 4px 6px rgba(50,50,93,.21), 0 1px 3px rgba(0,0,0,.18);
    --shadow-navbar: 0 1px 5px 0 rgba(0,0,0,.4);
    --shadow-primary: 0 1px 20px 0 rgba(0,0,0,.1);

    /* Background */
    --bg-light-solid: rgb(255, 255, 255);
    --bg-light-soft: #f5f6fa;

    --bg-dark-solid: #212529;
    --bg-dark-soft: #30343F;

    --bg-light-body: #f8f7fa;

    /* Border */
    --border-dark-solid: rgba(29,37,59,1);
    --border-dark-500: rgba(29,37,59,.5);
    --border-dark-200: rgba(29,37,59,.2);
    --border-dark-100: rgba(29,37,59,.1);

    --border-input: #c9c8ce;

    /* Font */
    --font-light-solid: #FFF;
    --font-light-800: rgba(255,255,255,.8);
    --font-light-750: rgba(255,255,255,.75);
    --font-light-600: rgba(255,255,255,.6);

    --font-dark-solid: #1d253b;
    --font-dark-900: rgba(34,42,66,.9);
    --font-dark-800: rgba(34,42,66,.8);
    --font-dark-700: rgba(34,42,66,.7);
    --font-dark-600: rgba(34,42,66,.6);
    --font-dark-400: rgba(34,42,66,.4);
    --font-dark-200: rgba(34,42,66,.2);

    --font-color-dark: rgb(93, 89, 108);
    --font-color-dark: rgb(93, 89, 108);

    /* Typography */
    --font-base: 'Poppins', sans-serif;
    --font-alternative: 'Jura', sans-serif;

    /* Font-sizes */

    --font-x-large: 4.6rem;
    --font-large: 2.8rem;
    --font-m-medium: 2.2rem;
    --font-medium: 1.8rem;
    --font-small: 1.6rem;
    --font-x-small: 1rem;

    --font-logo: 1.8rem;
    --font-social-networks: 2.4rem;


    /* Spacings */
    --spacing-128: 12.8rem;
    --spacing-100: 10rem;
    --spacing-68: 6.8rem;
    --spacing-48: 4.8rem;
    --spacing-42: 4.2rem;
    --spacing-36: 3.6rem;
    --spacing-28: 2.8rem;
    --spacing-24: 2.4rem;
    --spacing-20: 2rem;
    --spacing-16: 1.6rem;
    --spacing-12: 1.2rem;
    --spacing-8: 0.8rem;
    --spacing-4: 0.4rem;

    /* Transitions */
    --transition-bs-t: box-shadow .2s ease-in-out, transform .2s ease-in-out;
    --transition-border-outline: outline .2s ease-in-out, border .3s ease-in-out;
    --transition-color: color .2s ease-in-out;
    --transition-bg: background-color .1s ease-in-out;
    --transition-01: .1s ease-in-out;
    --transition-02: .2s ease-in-out;
    --transition-03: .3s ease-in-out;

    /* Animations */

    /* Border radius */
    --br-primary: 0.7rem;
    --br-secondary: 0.5rem;

    /* Dimensions */
    --aside-width: 26rem;
}