<form action="" method="POST">
    <!-- Dashboard cabecera -->
    <section class="db__header">
        <section class="db__header-row">
            <div class="db__header__text-wrapper">
                <h2 class="db__header__title">Editar provedor</h2>
                <span class="db__header__description">Completa la planilla</span>
            </div>
            <div class="db__header__btn">
                <button id="back_btn" class="btn-square--db btn-square--db-discard" type="reset">
                    <iconify-icon icon="tabler:circle-x" width="2.2rem" height="2.2rem"></iconify-icon>
                    Cancelar</button>
                <button class="btn-square--db" type="submit">
                    <iconify-icon icon="tabler:circle-check" width="2.2rem" height="2.2rem"></iconify-icon>
                    Aceptar</button>
            </div>
        </section>
    </section>


    <!-- Dashboard cuerpo -->
    <section class="db__body">

        <!-- Columna primaria -->
        <section class="db-col-2">

            <!-- Informacion de general -->
            <article class="card-db">
                <section class="card-db__header">
                    <h4 class="card-db__title">Informacion general</h4>
                </section>

                <section class="card-db__body">
                    <div class="card-db__row">
                        <div class="card-db__box">
                            <label for="provider_name" class="label">Nombre</label>
                            <input type="text" class="input" id="provider_name" name="provider_name" value="<%= provider.provider_name %>">
                        </div>
                    </div>

                    <div class="card-db__row">
                        <div class="card-db__box">
                            <label for="provider_observation" class="label">Observacion</label>
                            <textarea name="provider_observation" id="provider_observation" class="input"><%= provider.provider_observation %></textarea>
                        </div>
                    </div>


                    <div class="card-db__row">
                        <div class="card-db__box">
                            <label for="provider_tel" class="label">Telefono contacto</label>
                            <input type="text" class="input" id="provider_tel" name="provider_tel" value="<%= provider.provider_tel %>">
                        </div>
                    </div>

                </section>
            </article>
        </section>

    </section>
</form>