<h2 class="content__title">Proveedor EDITAR</h2>
<article class="card-admin card-admin--add">
    <form class="form-admin" action="">
        <!-- FILA -->
        <div class="form-admin__row">
            <div class="form-admin__box">
                <label for="provider_name" class="label">Nombre</label>
                <input type="text" class="input" id="provider_name" name="provider_name" value="<%= provider.provider_name %>">
            </div>
        </div>

        <!-- FILA -->
        <div class="form-admin__row form-admin__row-3">
            <div class="form-admin__box">
                <label for="provider_observation" class="label">Observacion</label>
                <textarea name="provider_observation" id="provider_observation" class="input"><%= provider.provider_observation %></textarea>
            </div>
        </div>

        <!-- FILA -->
        <div class="form-admin__row">

            <div class="form-admin__box">
                <label for="provider_tel" class="label">TEL</label>
                <input type="text" class="input" id="provider_tel" name="provider_tel" value="<%= provider.provider_tel %>">
            </div>
        </div>

        <!-- FILA -->
        <div class="form-admin__row">
            <!-- BOTONES -->
            <button class="btn-square" type="submit">Aceptar</button>
            <a class="btn-square btn--gray" href="/admin/providers">Cancelar</a>
        </div>
    </form>
</article>
