<form action="">
    <!-- Dashboard cabecera -->
    <section class="db__header">
        <section class="db__header-row">
            <div class="db__header__text-wrapper">
                <h2 class="db__header__title">Añadir un nueva colección</h2>
                <span class="db__header__description">Completa la planilla</span>
            </div>
            <div class="db__header__btn">
                <a class="btn-square--db btn-square--db-discard " href="/admin/collections">
                    <iconify-icon icon="tabler:circle-x" width="2.2rem" height="2.2rem"></iconify-icon>
                    Cancelar</a>
                <button class="btn-square--db" type="submit">
                    <iconify-icon icon="tabler:circle-check" width="2.2rem" height="2.2rem"></iconify-icon>
                    Aceptar</button>
            </div>
        </section>
    </section>

    <!-- Dashboard cuerpo -->
    <section class="db__body">

        <!-- Columna primaria -->
        <section class="db-col-2">

            <!-- Informacion de general -->
            <article class="card-db">
                <section class="card-db__header">
                    <h4 class="card-db__title">Informacion general</h4>
                </section>

                <section class="card-db__body">
                    <div class="card-db__row">
                        <div class="card-db__box">
                            <label for="collection_name" class="label">Nombre</label>
                            <input type="text" class="input" id="collection_name"
                                name="collection_name">
                        </div>
                    </div>

                    <div class="card-db__row">
                        <div class="card-db__box">
                            <label for="collection_description" class="label">Descripcion</label>
                            <textarea name="collection_description" id="collection_description" class="input"></textarea>
                        </div>
                    </div>


                    <div class="card-db__row">
                        <div class="card-db__box">
                            <label for="collection_sku" class="label">SKU</label>
                            <input type="text" class="input" id="collection_sku" name="collection_sku">
                        </div>
                    </div>

                    <div class="card-db__row card-db-col-2">
                        <div class="card-db__box">
                            <label for="collection_sku" class="label">SKU</label>
                            <input type="text" class="input" id="collection_sku" name="collection_sku">
                        </div>
                        <div class="card-db__box">
                            <span class="label">Mostrar en home</span>
                            <div class="checkbox-container">
                                <input type="checkbox" name="product_state" id="product_state" class="input--checkbox"
                                    checked>
                                <label for="product_state" class="">Disponible</label>
                            </div>
                        </div>
                    </div>

                </section>
            </article>
        </section>

        <!-- Columna secundaria -->
        <section class="db-col-1">
            <!-- Imagenes -->
            <article class="card-db ">
                <section class="card-db__header">
                    <h4 class="card-db__title">Portada</h4>
                </section>

                <section class="card-db__body">
                    <div class="card-db__row">
                        <div class="card-db__box card-db__box-img">
                            <div class="">
                                <label for="img_front" class="card-db_figure">
                                    <img src="/img/funkos/harry-potter/harry-1.webp" alt="" srcset="">
                                </label>
                                <input type="file" name="img_front" id="img_front">
                            </div>
                        </div>
                    </div>
                </section>
            </article>

        </section>

    </section>
</form>