<form action="">
    <!-- Dashboard cabecera -->
    <section class="db__header">
        <section class="db__header-row">
            <div class="db__header__text-wrapper">
                <h2 class="db__header__title">Añadir un nuevo producto</h2>
                <span class="db__header__description">Completa la planilla</span>
            </div>
            <div class="db__header__btn">
                <button id="back_btn" class="btn-square--db btn-square--db-discard" type="reset">
                    <iconify-icon icon="tabler:circle-x" width="2.2rem" height="2.2rem"></iconify-icon>
                    Cancelar</button>
                <button class="btn-square--db" type="submit">
                    <iconify-icon icon="tabler:circle-check" width="2.2rem" height="2.2rem"></iconify-icon>
                    Aceptar</button>
            </div>
        </section>
    </section>

    <!-- Dashboard cuerpo -->
    <section class="db__body">

        <!-- Columna primaria -->
        <section class="db-col-2">

            <!-- Informacion de general -->
            <article class="card">
                <section class="card__header">
                    <h4 class="card__title">Informacion general</h4>
                </section>

                <section class="card__body">
                    <div class="card__row">
                        <div class="card__inputs-group">
                            <label for="product_name" class="label">Nombre</label>
                            <input type="text" class="input" id="product_name" name="product_name">
                        </div>
                    </div>

                    <div class="card__row">
                        <div class="card__inputs-group">
                            <label for="product_description" class="label">Descripcion</label>
                            <textarea name="" id="" class="input"></textarea>
                        </div>
                    </div>

                    <div class="card__row card-col-2">
                        <div class="card__inputs-group">
                            <label for="collection_name" class="label">
                                <span>Coleccion</span>
                                <a class="label__link" href="/admin/collection/add">Nueva coleccion</a>
                            </label>
                            <select class="input input--select" name="collection_name" id="collection_name">
                                <option value="null" selected>---</option>
                                <% collections.forEach((collection)=>{%>
                                    <option value="<%= collection.collection_id %>">
                                        <%= collection.collection_name %>
                                    </option>
                                    <%}) %>
                            </select>
                        </div>
                    </div>
                </section>
            </article>

            <!-- Imagenes -->
            <article class="card ">
                <section class="card__header">
                    <h4 class="card__title">Imagenes</h4>
                </section>

                <section class="card__body">
                    <div class="card__row card-col-2">
                        <div class="card__inputs-group">
                            <label for="img_front" class="label">Producto</label>
                            <div class="card__figure">
                                <label for="img_front">
                                    <img src="/img/funkos/harry-potter/harry-1.webp" alt="" srcset="">
                                </lab>
                            </div>
                            <input type="file" name="img_front" id="img_front">
                        </div>
                        <div class="card__inputs-group">
                            <label for="img_back" class="label">Paquete</label>
                            <div class="card__figure">
                                <label for="img_back">
                                    <img src="/img/funkos/harry-potter/harry-box.webp" alt="" srcset="">
                                </label>
                            </div>
                            <input type="file" name="img_back" id="img_back">
                        </div>
                    </div>
                </section>
            </article>
        </section>

        <!-- Columna secundaria -->
        <section class="db-col-1">

            <!-- Precio -->
            <article class="card">
                <section class="card__header">
                    <h4 class="card__title">Precio</h4>
                </section>
                <section class="card__body">
                    <div class="card__row card-col-2">

                        <div class="card__inputs-group">
                            <label for="product_price" class="label">Precio</label>
                            <input type="number" class="input --hide-arrows" id="product_price" name="product_price">
                        </div>

                        <div class="card__inputs-group">
                            <label for="product_discount" class="label">Descuento</label>
                            <input type="number" class="input --hide-arrows" id="product_discount"
                                name="product_discount">
                        </div>
                    </div>
                    <div class="card__row card-col-2">
                        <div class="card__inputs-group">
                            <label for="product_dues" class="label">Cuotas</label>
                            <select class="input input--select" name="product_dues" id="product_dues">
                                <option value="0" selected>0</option>
                                <option value="3">3</option>
                                <option value="6">6</option>
                                <option value="12">12</option>
                            </select>
                        </div>
                        <div class="card__inputs-group">
                            <label for="product_dues" class="label">¿Interés?</label>
                            <select class="input input--select" name="product_dues" id="product_dues">
                                <option value="0" selected>Sin interés</option>
                                <option value="0">Con interés</option>
                            </select>
                        </div>
                    </div>
                </section>
            </article>

            <!-- Inventario -->
            <article class="card">
                <section class="card__header">
                    <h4 class="card__title">Inventario</h4>
                </section>
                <section class="card__body">
                    <div class="card__row">
                        <div class="card__inputs-group">
                            <label for="collection_name" class="label">
                                <span>Provedor</span>
                                <a class="label__link" href="/admin/provider/add">Nuevo provedor</a>
                            </label>
                            <select class="input input--select" name="collection_name" id="collection_name">
                                <option value="null" selected>---</option>
                                <% collections.forEach((collection)=>{%>
                                    <option value="<%= collection.collection_id %>">
                                        <%= collection.collection_name %>
                                    </option>
                                    <%}) %>
                            </select>
                        </div>
                    </div>
                    <div class="card__row">

                        <div class="card__inputs-group">
                            <label for="product_sku" class="label">SKU</label>
                            <input type="text" class="input" id="product_sku" name="product_sku">
                        </div>
                    </div>
                    <div class="card__row card-col-2">
                        <div class="card__inputs-group">
                            <label for="product_stock" class="label">Stock</label>
                            <input type="number" class="input --hide-arrows" id="product_stock" name="product_stock">
                        </div>
                        <div class="card__inputs-group">
                            <span class="label">Estado</span>
                            <div class="checkbox-container">
                                <input type="checkbox" name="product_state" id="product_state" class="input--checkbox"
                                    checked>
                                <label for="product_state" class="">Disponible</label>
                            </div>
                        </div>
                    </div>

                </section>
            </article>

            <!-- Varios -->
            <article class="card">
                <section class="card__header">
                    <h4 class="card__title">Varios</h4>
                </section>
                <section class="card__body">
                    <div class="card__row">

                        <div class="card__inputs-group">

                        </div>

                        <div class="card__inputs-group">

                        </div>

                        <div class="card__inputs-group">

                            </select>
                        </div>
                    </div>
                </section>
            </article>

        </section>

    </section>
</form>